aiohttp
apscheduler
arxiv
bs4
elasticsearch
flask
flask-restful
fsspec
fuzzywuzzy
html2text
ipdb
ipython
mistune==2.0.0a4
networkx
nltk
numpy
pandas
paramiko
prompt_toolkit
pygments
pygments-style-solarized
pytest
pyvis
# python-Levenshtein
requests
tldextract
youtube_transcript_api

# dependencies temporarily pinned for ipython: https://github.com/ipython/ipython/issues/12745
jedi==0.17.2
parso==0.7.1
